<h1>Список заказов</h1>
<a href="/create_basket_book/">Добавить заказ</a>
{% for i in basket_book_list %}
<h2>Название - {{ i.name_order }}</h2>
<p>Книга - {{ i.choice_book }}</p>
<p>Статус - {{ i.status }}</p>
<p>Ноемр карты - {{ i.card_number }}</p>
<p>Количество - {{ i.count }}</p>
<p>Дата создания - {{ i.created_at }}</p>
<p>Дата обновления - {{ i.updated_at }}</p>
<a href="/basket_book_list/{{ i.id }}/delete/">Удалить</a>
<a href="/basket_book_list/{{ i.id }}/update/">Изменить</a>
{% endfor %}